body {
    background: #EEEEEE;
}

.phoenix_hover {
    background: #c6e7ef;
}

.phoenix_hover_red {
    background: #FFE0E0;
}

.phoenix_hover_green {
    background: #E0FFE0;
}

.phoenix_hover_blue {
    background: #E0E0FF;
}

.phoenix_danger {
    background: #FFAAAA;
}

.phoenix_primary_icon::before {
    color: #1CA1C1;
}

.phoenix_warning_icon::before {
    color: #FDBF4C;
}

.phoenix_danger_icon::before {
    color: #FF5C4C;
}

.webix_button,
.webix_popup_button,
.webix_popup_button.confirm {
    font-size: 12px;
}

.webix_badge {
    border-radius: 8px;
    height: 16px;
    min-width: 16px;
    line-height: 16px
}

/* 编辑文本框尾部的清除按钮 */
span.webix_input_icon.webix_clear_icon.webix_icon_transparent.wxi-close {
    right: 8px;
    margin-top: 4px;
    width: 20px;
    font-size: 12px
}

.webix_winmenu_item {
    position: absolute;
    text-align: center;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.webix_winmenu_item:active {
    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
}

.webix_winmenu_item div {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.webix_winmenu {
    position: relative;
    background: transparent;
}

.webix_winmenu .webix_scroll_cont {
    position: static;
}

.webix_window {
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(64,64,64,0.8);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(64,64,64,0.8);
    -moz-box-shadow: 0px 4px 6px 0px rgba(64,64,64,0.8);
}

.datatable-qrcode > svg {
    vertical-align:middle;
    height:36px
}